<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fable.Core" version="4.1.0" targetFramework="net48" />
  <package id="FSharp.Core" version="5.0.2" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="9.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Thoth.Json.Core" version="0.7.0" targetFramework="net48" />
  <package id="Thoth.Json.Newtonsoft" version="0.3.2" targetFramework="net48" />
</packages>